* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #182154;
    cursor: pointer;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: #182154;
    transition: color .1s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

}
.nav-link:after
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #182154;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #597785;

}

.nav-link:hover:after {
    opacity: 1;

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: white;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {

    font-weight: normal;
    font-size: 30px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: #182154;
    margin: 20px;

}

/*end header*/
.section-pers {

    background-image: url("../images/back-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-color: #464c73;
    background-blend-mode: multiply;
}

.pers-box {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #182154;
}

.girl {
    background-image: url("../images/sose.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 284px;
    height: 500px;
    /*background-blend-mode: multiply;*/
    /*filter: grayscale(1);*/

}

.girl-text {
    background-color: #f1f1f1;
    width: 50%;
    font-family: sans-serif;
    padding: 60px 0 0 30px;
}

.girl-text h2 {
    font-size: 30px;
    padding: 10px 0;

}

.lawyer {
    font-weight: bold;
}

.girl-text h4 {
    padding: 30px 0 10px;
}

.icons {
    background-color: #182154;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.icons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.section-about {
    background-color: #f1f1f1;
}

.about-text {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    text-align: center;
    margin: 60px;
    padding: 65px;
    color: #182154;
}

.about-text h2 {
    margin-bottom: 30px;

}

.about-text p {
    font-size: 20px;
}

.education-title {
    text-align: center;
    font-family: sans-serif;
    color: #182154;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}

.education-title h2 {
    margin-bottom: 30px;
}

.edu-section {
    margin-top: 50px;
}

.edu-1 {
    display: flex;
    justify-content: center;
}

.edu-right {
    border-left: 1px solid rgba(241, 241, 241, 1);
    padding: 25px;
}

.edu-left {
    padding: 25px;
}

.edu-left h4 {
    padding-top: 5px;
}

.p-first {
    padding: 5px;
}

.skill-title {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #182154;
    border-bottom: 1px solid white;
}

.skill-title h2 {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
}

.skill-section {
    background-image: url("../images/back-2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
    background-color: #464c73;
    background-blend-mode: multiply;
    color: white;
}

.skill-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 59px;
}

.skill-left-inner {
    width: 40%;
    padding: 12px;
    flex: 0 0 47%;
    background-color: rgba(69, 81, 121, 0.8);
    background-blend-mode: multiply;
    margin-bottom: 30px;
    text-align: center;
}
